.eaque {
    padding: 55px 0 64px;
    text-align: center;
    &-content {
        &-header {
           @include secondary-header; 
           margin: 0;
        }
        &-descr {
            @include primary-text;
            margin: 23px auto 48px;
            width: 50%;
        }
        &-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            &-item {
                width: 45%;
                box-shadow: $shadow;
                padding: 30px 32px 59px;
                &-descr {
                    @include secondary-text;
                    margin: 0;
                }
                &-name {
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;
                    color: #333333;
                    font-family: 'Poppins Bold';
                    margin-top: 13px;
                }
                &:hover {
                    background: $gradient;
                    p {
                        color: white;
                    }
                }
            }
        }
        &-buttons {
            &-btn {
                position: relative;
                border: 1px solid #C86DD7;
                background: none;
                border-radius: 50%;
                width: 48px;
                height: 48px;
                margin-top: 48px;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    opacity: 0.7;
                }
            }
            #eaque-content-buttons-btn__first {
                margin-right: 8px;
            }
        }
    }
}
@media (max-width: 992px) {
    .eaque {
        &-content {
            &-descr {
                width: 80%;
            }
            &-items {
                &-item {
                    width: 45%;
                    box-shadow: $shadow;
                    padding: 15px 20px 15px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .eaque {
        &-content {
            &-header {
                font-size: 40px;
                line-height: 48px;
            }
            &-descr {
                margin: 23px auto 28px;
            }
            &-items {
                flex-direction: column;
                align-items: center;
                &-item {
                    width: 70%;
                    margin-top: 20px;
                }
            }
            &-buttons {
                &-btn {
                    margin-top: 32px;
                }
            }
        }
    }
}
@media (max-width: 376px) {
    .eaque {
        padding: 55px 0 48px;
        &-content {
            &-descr {
                width: 100%;
            }
            &-items {
                &-item {
                    width: 100%;
                }
            }
        }
    }
}