@mixin primary-button {
    background: #0BBC63;
    border-radius: 100px;
    font-family: 'Neucha Regular';
    font-size: 18px;
    line-height: 150%;
    color: $secondary-text-color;
    &:hover {
        background: #12C96D;
    }
}

@mixin primary-header {
    font-family: 'Neucha Regular';
    font-size: 64px;
    line-height: 70px;
    color: $primary-text-color;
}

@mixin primary-text {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $primary-text-color;
}