.reiciendis {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    background: #FDF2FF;
    padding: 144px 0 112px;
    &-img {
        width: 40%;
        background: $gradient;
        border-radius: 3px;
        img {
            width: 100%;
            height: 100%;
            position: relative;
            bottom: 30px;
            left: 30px;
        }
    }
    &-content {
        width: 38%;
        display: flex;
        flex-direction: column;
        margin-left: 130px;
        &-header {
            @include secondary-header;
            margin: 0 0 23px;
        }
        &-descr__bold {
            @include primary-text;
            margin: 0 0 6px;
        }
        &-descr__regular {
            @include secondary-text;
            margin: 0 0 36px;
        }
        &-numbers {
            display: flex;
            &-item {
                margin-right: 108px;
                &-number {
                    font-family: 'Poppins Bold';
                    font-size: 40px;
                    line-height: 48px;
                    color: #333333;
                    margin: 0 0 2px;
                }
                &-descr {
                    font-family: 'SourceSansPro SemiBold';
                    font-size: 12px;
                    line-height: 24px;
                    color: #333333;
                    margin: 0 0;
                }
            }
        }
        button {
            @include secondary-button;
            margin-top: 40px;
            padding: 12px 54px;
            width: 170px;
            &:hover {
                opacity: 0.9;
            }
        }
    }
}
@media (max-width: 992px) {
    .reiciendis {
        &-content {
            width: 45%;
        }
    }
}
@media (max-width: 992px) {
    .reiciendis {
        padding: 100px 0 90px;
        .container {
            flex-direction: column;
        }
        &-img {
            width: 70%;
            margin-bottom: 50px;
        }
        &-content {
            width: 100%;
            margin-left: 0;
        }
    }
}
@media (max-width: 768px) {
    .reiciendis {
        &-content {
            &-header {
                font-size: 40px;
                line-height: 48px;
            }
        }
    }
}
@media (max-width: 576px) {
    .reiciendis {
        &-content {
            width: 90%;
            &-descr__bold {
                margin: 0 0 23px;
            }
            &-numbers {
                justify-content: space-between;
                &-item {
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width: 376px) {
    .reiciendis {
        padding: 64px 0 48px;
        &-img {
            width: 90%;
            img {
                bottom: 18px;
                left: 18px;
            }
        }
    }
}
