.repudiandae {
    padding: 96px 0 112px;
    &-content {
        display: flex;
        justify-content: space-between;
        &-descr {
            width: 35%;
            &-header {
                @include secondary-header;
                margin-bottom: 39px;
            }
            &-text {
                @include secondary-text;
                margin: 0;
            }
            &-subheader {
                font-size: 24px;
                line-height: 32px;
                color: #333333;
                font-family: 'Poppins Bold';
            }
            #repudiandae-content-descr-subheader__first {
                margin: 23px 0 25px;
            }
            #repudiandae-content-descr-subheader__second {
                margin: 39px 0 25px;
            }
            &-icons {
                margin-top: 50px;
                img {
                    margin-right: 8px;
                }
            }
        }
        &-message {
            width: 50%;
            box-shadow: $shadow;
            border-radius: 3px;    
            padding: 37px 32px 48px; 
            &-header {
                font-size: 24px;
                line-height: 32px;
                color: #333333;
                font-family: 'Poppins Bold';
                margin: 0 0 11px;
            }
            &-subheader {
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #333333;
                font-family: 'SourceSansPro Bold';
                margin: 20px 0 13px;
            }
            input {
                border: 1px solid #DADADA;
                border-radius: 3px;
                width: 100%;
                padding: 12px 0 12px 16px;
                &::placeholder {
                    @include secondary-text;
                    margin: 0;
                }
                &:focus {
                    outline: none;
                }
            }
            &-btn {
                @include secondary-button;
                width: 100%;
                padding: 12px 0;
                margin-top: 32px;
                &:hover {
                    opacity: 0.9;
                }
            }
            textarea {
                border: 1px solid #DADADA;
                border-radius: 3px;
                width: 100%;
                padding: 12px 0 12px 16px;
                &::placeholder {
                    @include secondary-text;
                    margin: 0;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .repudiandae {
        &-content {
            &-descr {
                width: 45%;
                &-header {
                    font-size: 40px;
                    line-height: 48px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .repudiandae {
        &-content {
            flex-direction: column;
            &-descr{
                width: 95%;
            }
            &-message {
                width: 100%;
                margin-top: 64px;
            }
        }
    }
}
@media (max-width: 376px) {
    .repudiandae {
        padding: 54px 0 80px;
    }
}